///////////////////////////////////////////////////////////////////////
//  BOOTSTRAP

// hackerNews color defs
$brand-primary: #ff6600;

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

///////////////////////////////////////////////////////////////////////
// FontAwesome

$fa-font-path: "/dist/assets/fonts";
$fa-font-size-base: $font-size-base;
@import '../../node_modules/font-awesome/scss/font-awesome.scss';



///////////////////////////////////////////////////////////////////////
//  TWEAKS


select.category-selector {
  text-transform: capitalize;
  option {
    text-transform: capitalize;
  }
}


// tweaks to BS pager styles
.pager {
  .previous i {
    margin-right: 0.75em;
  }

  .next i {
    margin-left: 0.75em;
  }

  a {
    cursor: pointer;
  }
}


.story-list-heading {
    text-transform: capitalize;
    small {
      text-transform: none;
    }
}